.DS_Store
.bak
node_modules/
output/
output
output/**
!output/0xb8c77482e45f1f44de1745f52c74426c631bdd52/*
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
test/snapshots
report.*

# Editor directories and files
.idea
.badidea
*.suo
*.ntvs*
*.njsproj
*.sln

# The stuff we don't like, or prefer to hide from people, or are downright unhelpful
.*
.*/
!/.gitignore
!/.eslintignore
