<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>1_total_holders</title>
</head>
<body>
<style>
.data {
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
}
</style>

<div class="data">
  <h5>Token: TOKEN_NAME, TOKEN_SYMBOL, TOKEN_ADDRESS</h5>
  <h3>Total Holders</h3>
  <h1>TOTAL_HOLDERS</h1>
  <h4>Total Supply</h4>
  <h2>TOTAL_SUPPLY</h2>
  <h4>Market Cap USD</h4>
  <h2>TOTAL_VALUE_USD</h2>
  <h4>Token Price USD</h4>
  <h2>TOTAL_PRICE_USD</h2>
</div>

</body>
</html>
