<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>3_average_holdings</title>
</head>
<body>
<style>
.data {
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
}
</style>

<div class="data">
  <h5>Token: TOKEN_NAME, TOKEN_SYMBOL, TOKEN_ADDRESS</h5>
  <h3>Total Holders</h3>
  <h1>TOTAL_HOLDERS</h1>
  <h4>Average Token Holdings</h4>
  <h2>COMPUTED_AVERAGE</h2>
  <h4>Average USD Holdings</h4>
  <h2>COMPUTED_AVERAGE_USD</h2>
  <h4>Token Price USD</h4>
  <h2>TOTAL_PRICE_USD</h2>
  <h5>Showing whales: SHOW_WHALES, Whale Threshold: WHALE_THRESHOLD</h5>
</div>

</body>
</html>
